<!DOCTYPE html>
<html>
  <head>

    <% include ../static/partials/head.ejs %>

  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <header class="jumbotron">
        <h1 class="display-4">Blocipedia</h1>
        <p class="lead">A place to create, collaborate and share wikis.</p>
        <a href="/users/sign_up" class="btn btn-outline-primary btn-lg">Sign up</a>
      </header>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
