<!DOCTYPE html>
<html>
  <head>

    <% include ../static/partials/head.ejs %>

  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h3>You've successfully downgraded to a standard account!</h3>
      <p>We're sad to see you go :( The good news is you can still create and edit public wikis.</p>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
