<!DOCTYPE html>
<html>
  <head>

    <% include ../static/partials/head.ejs %>

  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1>Congratulations!</h1>
      <h3>You've successfully upgraded your account to a premium membership!</h3>
      <p>You can now create private wikis and add and remove collaborators from your private wikis.</p>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
